
<!--<div>-->
<!--  <form>-->
<!--    <div>-->
<!--      <label>Amount</label>-->
<!--      <input type="text" #amount>-->
<!--    </div>-->
<!--    <div>-->
<!--      <label>Customer email</label>-->
<!--      <input type="text" #email>-->
<!--    </div>-->
<!--    <div>-->
<!--      <label>Amount</label>-->
<!--      <input type="text">-->
<!--    </div>-->
<!--    <button (submit)="proceed(amount.value,email.value)">Proceed</button>-->
<!--  </form>-->

<!--  <ng-interswitch-->
<!--    *ngIf="tooglePaymentPage"-->
<!--  [paymentOptions]=""-->
<!--  (paymentCallback)="handleCallBack($event)"-->
<!--  >-->

<!--  </ng-interswitch>-->
<!--</div>-->
